@if (tradeClassUserInfosDisplay().flip) {
  <div class="flex align-items-center p-2 gap-2 flip animation-duration-500">
    <a [routerLink]="'class-info' | route : tradeClassUserInfosDisplay().tradeClassUserInfos.targetClassUser.classInfo.id">
      <class-info [classInfo]="tradeClassUserInfosDisplay().tradeClassUserInfos.targetClassUser.classInfo" />
    </a>
    <div><span class="font-semibold">for</span></div>
    <a [routerLink]="'class-info' | route : tradeClassUserInfosDisplay().tradeClassUserInfos.requestingClassUser.classInfo.id">
      <class-info [classInfo]="tradeClassUserInfosDisplay().tradeClassUserInfos.requestingClassUser.classInfo" />
    </a>
  </div>
}
@else {
  <div class="flex align-items-center p-2 gap-2 flip animation-duration-500">
    <a [routerLink]="'class-info' | route : tradeClassUserInfosDisplay().tradeClassUserInfos.requestingClassUser.classInfo.id">
      <class-info [classInfo]="tradeClassUserInfosDisplay().tradeClassUserInfos.requestingClassUser.classInfo" />
    </a>
    <div><span class="font-semibold">for</span></div>
    <a [routerLink]="'class-info' | route : tradeClassUserInfosDisplay().tradeClassUserInfos.targetClassUser.classInfo.id">
      <class-info [classInfo]="tradeClassUserInfosDisplay().tradeClassUserInfos.targetClassUser.classInfo" />
    </a>
  </div>
}
