<p-card header="Outgoing Swaps">
  <api-response [apiResponse]="tradeClassUserInfos$" errorMessage="Error loading" loadingMessage="Loading...">
    <ng-template #success let-tradeClassUserInfos>
      <div class="flex flex-wrap gap-3">
        @for(tradeClassUserInfo of tradeClassUserInfos; track $index) {
          <a [routerLink]="'view-sent' | route : [tradeClassUserInfo.tradeClassUserInfos.id]">
            <trade-class-user-infos-display [tradeClassUserInfosDisplay]="tradeClassUserInfo" />
          </a>
        } @empty {
        <p>You don't have any outgoing swaps!</p>
        }
        <error-list [errors]="errors"></error-list>
      </div>
    </ng-template>
  </api-response>
</p-card>
