<p-card header="Outgoing Swaps">
  <api-response [apiResponse]="tradeClassUserInfos$" errorMessage="Error loading" loadingMessage="Loading...">
    <ng-template #success let-tradeClassUserInfos>
      <div class="flex flex-wrap gap-3">
        @for(tradeClassUserInfo of tradeClassUserInfos; track $index) {
          <trade-class-user-infos-display [tradeClassUserInfosDisplay]="tradeClassUserInfo" />
          <p-button (onClick)="cancelRequest(tradeClassUserInfo.tradeClassUserInfos.id)" icon="pi pi-trash" severity="danger" class="p-2"/>
          <confirm-popup key="delete" confirmSeverity="danger" confirmIcon="pi pi-trash" />
        } @empty {
        <p>You don't have any outgoing swaps!</p>
        }
        <error-list [errors]="errors"></error-list>
      </div>
    </ng-template>
  </api-response>
</p-card>
