
<p-card header="Get">
  <api-response [apiResponse]="classUser$" errorMessage="Error loading" loadingMessage="Loading...">
    <ng-template #success let-classUser>
      <div class="flex gap-1 mb-1">
        <p-button [routerLink]="['..']" icon="pi pi-arrow-up" label="Up to all" />
        <p-button [routerLink]="['..', id(), 'edit']" icon="pi pi-pencil" label="Edit" />
      </div>
      <div class="w-30rem flex flex-column gap-4">
        <div>
          <label class="block text-900 font-medium mb-2">Id</label>
          <div>{{ classUser.id }}</div>
        </div>
        <div>
          <label class="block text-900 font-medium mb-2">ClassId</label>
          <div>{{ classUser.classId }}</div>
        </div>
        <div>
          <label class="block text-900 font-medium mb-2">UserId</label>
          <div>{{ classUser.userId }}</div>
        </div>
        <div>
          <label class="block text-900 font-medium mb-2">IsActive</label>
          <div>{{ classUser.isActive }}</div>
        </div>
      </div>
    </ng-template>
  </api-response>
</p-card>