
<p-card header="All">
  <div class="flex gap-1 mb-1">
    <p-button [routerLink]="['create']" severity="success" icon="pi pi-plus" label="Create" />
  </div>

  <api-response [apiResponse]="searchResults$" errorMessage="Error loading items" loadingMessage="Loading items...">
    <ng-template #success let-searchResults>
      <p-table
        [value]="searchResults.data"
        [paginator]="true"
        [rows]="pageSize"
        [totalRecords]="searchResults.totalCount"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Id</th>
            <th>ClassId</th>
            <th>UserId</th>
            <th>IsActive</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classUser>
          <tr>
            <td>
              <p-button [routerLink]="[classUser.id]" icon="pi pi-eye" />
            </td>
            <td>{{classUser.id}}</td>
            <td>{{classUser.classId | number}}</td>
            <td>{{classUser.userId}}</td>
            <td>{{classUser.isActive}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="100%">There are no items.</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </api-response>
</p-card>
