
<p-card header="Offer Swap">
  <api-response [apiResponse]="classUserInfos$" errorMessage="Error loading" loadingMessage="Loading...">
    <ng-template #success let-classUserInfos>
      <div class="flex gap-4 mb-4">
        <div class="flex flex-column">
          <h4 class="font-semibold">You Give</h4>
          <class-info [classInfo]="classUserInfos.requestingClassUser.classInfo"/>
        </div>
        <div class="flex flex-column">
          <h4 class="font-semibold">You Get</h4>
          <class-info [classInfo]="classUserInfos.targetClassUser.classInfo"/>
        </div>
      </div>
    </ng-template>
  </api-response>

  <form [formGroup]="form" (ngSubmit)="createClicked()" autocomplete="off">
    <div class="w-30rem flex flex-column gap-4">
      <div>
          <label for="notes" class="block text-900 font-medium mb-2">Notes</label>
          <input pInputText id="notes" formControlName="notes" class="w-full" />
      </div>

      <error-list [errors]="errors" />
      <p-button type="submit" label="Create" icon="pi pi-save" severity="success" [disabled]="!form.valid" />
    </div>
  </form>
</p-card>
