<p-card styleClass="mb-3">Incoming Offers</p-card>

<div class="offers-list">
  <div class="offer-item" *ngFor="let offer of offers" [ngStyle]="{ 'margin-bottom': '10px' }">
    <p-card header="Offer From: {{ offer.offerer }}">
      <p><strong>Wanted Class:</strong> {{ offer.wantedClass }}</p>
      <p><strong>Offered Class:</strong> {{ offer.offeredClass }}</p>
      <p-button label="Accept" (click)="acceptOffer(offer)" [ngStyle]="{ 'margin-right': '10px' }" class="accept-button"></p-button>
      <p-button label="Decline" (click)="declineOffer(offer)" class="decline-button" styleClass="p-button-secondary"></p-button>
    </p-card>
  </div>
</div>  

  