<div class="flex flex-column gap-4">
  <p-card>
    <div class="text-900 font-bold text-6xl mb-4 text-center">HuskySwap</div>
    <div class="text-700 text-xl text-center line-height-3">The helping hand for those struggling with course registration...</div>
  </p-card>

  <p-card header="Profile">
    <p>Move to your profile page.</p>
  </p-card>

  <p-card header="My Trades">
    <p>Move to your current offers.</p>
    <p>Check if someone agreed to exchange or donate class for you!</p>
  </p-card>

  <p-card header="Offer new Trade">
    <p>Upload a new trade that you desire to offer.</p>
  </p-card>

  <p-card header="Search Other's Offer">
    <p>Move to search other student's offers</p>
    <p>Hope you find a desired class!</p>
  </p-card>
</div>

