
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">HuskySwap</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">The helping hand for those struggling with course registration...</div>
</div>

<p-card header="Profile" style="margin-bottom: 16px;">
    <p>Move to your profile page.</p>
</p-card>

<br>

<p-card header="My Trades" style="margin-bottom: 16px;">
    <p>Move to your current offers.<br>Check if someone agreed to exchange or donate class for you!</p>
</p-card>

<br>

<p-card header="Offer new Trade" style="margin-bottom: 16px;">
    <p>Upload a new trade that you desire to offer.</p>
</p-card>

<br>

<p-card header="Search Other's Offer" style="margin-bottom: 16px;">
    <p>Move to search other student's offers<br>Hope you find a desired class!</p>
</p-card>
